# Data Handling with Pandas: Airports, Airlines, Flights, Weather

In [1]:
import pandas as pd

_Let's import our 'airport.csv' data using Pandas' built in read_csv function._

In [2]:
data = pd.read_csv('airports.csv')

In [3]:
data

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1453,ZUN,Black Rock,35.083228,-108.791778,6454,-7,A,America/Denver
1454,ZVE,New Haven Rail Station,41.298669,-72.925992,7,-5,A,America/New_York
1455,ZWI,Wilmington Amtrak Station,39.736667,-75.551667,0,-5,A,America/New_York
1456,ZWU,Washington Union Station,38.897460,-77.006430,76,-5,A,America/New_York
1457,ZYP,Penn Station,40.750500,-73.993500,35,-5,A,America/New_York

_Here, I'm just taking a look at the data and how the information looks._

In [4]:
data.sort_values(by=['lon'], ascending=False)

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1251,SNP,St Paul Island,57.167333,-170.220444,63,-9,A,America/Anchorage
1281,SVA,Savoonga Airport,63.686400,-170.493000,53,-9,A,America/Anchorage
522,GAM,Gambell Airport,63.766800,-171.733000,27,-9,A,America/Anchorage
112,AKB,Atka Airport,52.220278,-174.206389,56,-9,A,America/Anchorage
95,ADK,Adak Airport,51.878000,-176.646000,18,-9,A,America/Anchorage

_______
## Question #1: What is the northernmost airport in the United States?

_Here, we can filter the data by positive latitudinal and negative longitudinal values_

In [5]:
df = data[(data['lat'] > 0) & (data['lon'] < 0)]

_Then, by sorting this data in descending order, we can view the top 5 northern most airports in the United States_

In [6]:
df.sort_values(by=['lat', 'lon'], ascending=False).head()

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage
1363,UUK,Ugnu-Kuparuk Airport,70.330833,-149.597500,67,-9,A,America/Anchorage

__Question #1 Answer:__ _The northern most airport in the United States is __Wiley Post Will Rogers Memorial__ airport._
_According to WorldAtlas ("https://www.worldatlas.com/articles/which-are-the-northernmost-points-in-the-united-states.html"), the northernmost point in the United States is Port Barrow. Point Barrow is approximately 10.7 miles away from Wiley Post Will Rogers Memorial airport._

_______
## Question #2: What is the easternmost airport in the United States?

_Below, we will produce a list of the top 5 easternmost airports on USA mainland! The easternmost point on United States mainland is off Weest Quoddy Head, Maine (44.815389, -66.949778) ("https://www.cntraveler.com/stories/2012-07-30/semisopochnoi-island-alaska-maphead-ken-jennings"). So, our airport should be close to this area._

In [7]:
df = data[(data['lat'] > 0) & (data['lat'] < 45) & (data['lon'] < 0) & (data['lon'] > -70) & (data['tz'] <= -5)]

In [8]:
df.sort_values(by=['lat', 'lon'], ascending=False).head()

,faa,name,lat,lon,alt,tz,dst,tzone
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York
191,BGR,Bangor Intl,44.807444,-68.828139,192,-5,A,America/New_York
192,BHB,Hancock County - Bar Harbor,44.449769,-68.361565,83,-5,A,America/New_York
157,AUG,Augusta State,44.320647,-69.797317,352,-5,A,America/New_York
856,ME5,Banks Airport,44.165389,-68.428167,100,-5,A,America/New_York

__Question #2 Answer:__ _The closest airport to this destination on our list is __Eastport Municipal Airport__, which shows up in our list of top 5 easternmost airports._

______
## Question #3: On February 12th, 2013, which New York area airport had the windiest weather?

In [9]:
weather = pd.read_csv('weather.csv')

In [10]:
weather

,faa,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26110,LGA,2013,12,30,14,35.96,19.94,51.78,340.0,13.80936,21.86482,0.0,1017.1,10.0,2013-12-30T19:00:00Z
26111,LGA,2013,12,30,15,33.98,17.06,49.51,330.0,17.26170,21.86482,0.0,1018.8,10.0,2013-12-30T20:00:00Z
26112,LGA,2013,12,30,16,32.00,15.08,49.19,340.0,14.96014,23.01560,0.0,1019.5,10.0,2013-12-30T21:00:00Z
26113,LGA,2013,12,30,17,30.92,12.92,46.74,320.0,17.26170,NaN,0.0,1019.9,10.0,2013-12-30T22:00:00Z
26114,LGA,2013,12,30,18,28.94,10.94,46.41,330.0,18.41248,NaN,0.0,1020.9,10.0,2013-12-30T23:00:00Z

In [11]:
dff = weather[(weather['year'] == 2013) & (weather['month'] == 2) & (weather['day'] == 12)].head()

_In order to merge these two dataframes, I had to change the 'origin' column in 'weather.csv' to 'faa,' matching the 'faa' column in 'airports.csv.'_

In [12]:
n = pd.merge(dff, data, on='faa', how='outer')

_Here, I'm filtering our results so that our dataframe contains ONLY the three airports in the New York area: LGA, JFK, and EWR. Then, we are returning the maximum columns, which includes wind_speed._

In [13]:
n[(n['faa'] == 'LGA') | (n['faa'] == 'EWR') | (n['faa'] == 'JFK')].max()

faa                           LGA
year                         2013
month                           2
day                            12
hour                            4
temp                        39.92
dewp                        39.02
humid                       96.55
wind_dir                      280
wind_speed                1048.36
wind_gust                 25.3172
precip                          0
pressure                   1008.8
visib                          10
name          Newark Liberty Intl
lat                       40.7772
lon                      -73.7789
alt                            22
tz                             -5
dst                             A
tzone            America/New_York
dtype: object

__Question #3 Answer:__ _The windest airport in the New York area on February 12, 2013 was Newark Liberty International Airport._